<footer class="sticky-footer bg-white">
    <hr />
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; EducationPortal 2024 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
        </div>
    </div>
</footer>